@font-face {
    font-family: 'Riesling';
    src: url('assets/fonts/riesling-webfont.eot');
    src: url('assets/fonts/riesling-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/riesling-webfont.woff') format('woff'),
         url('assets/fonts/riesling-webfont.ttf') format('truetype'),
         url('assets/fonts/riesling-webfont.svg#RieslingRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@mixin fade{
	-webkit-transition: all 2s ease;
	-moz-transition: all 2s ease;
	-ms-transition: all 2s ease;
	-o-transition: all 2s ease;
	transition: all 2s ease;
}

@mixin nav_li {
	width: 180px;
	margin: 5px;
	display: block;
	float: left;
	background-repeat: no-repeat;
}

$grey: #58575c;
$dark_grey: #2e2e2e;
$orange: #d47820;
$green: #a2c111;
$trans_white: rgba(255, 255, 255, .25);
$half_white: rgba(255, 255, 255, .5);

h1 {
	font-family: 'Riesling';
	font-size: 100px;
	text-align: center;
	color: white;
	font-weight: normal;
	margin: 0;
}

h2 {
	font-family: Georgia;
	font-size: 36px;
	font-weight: normal;
	line-height: 30px;
	margin-bottom: 0;
	padding-left: 16px;
	letter-spacing: 2px;
}

h3 {
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 1px;
  padding-left: 20px;
}

a.nav {
	display: block;
	color: $dark_grey;
	font-family: 'Riesling';
	font-size: 48px;
	text-align: center;
	text-decoration: none;
	padding-top: 525px;
	
	&:hover {
		color: $orange;
	}
}

a.sub {
	color: $dark_grey;
	display: block;
	font-family: arial;
	text-align: right;
	font-size: 12px;
	
	&:hover {
		color: $green;
	}
	
	&:after {
		content: url('assets/styling/slug-dark_grey.png');
		padding-left: 1px;
		position: relative;
		top: 4px;
	}
}

.subtext {
  display: block;
	font-family: arial;
	font-size: 12px;
	padding-left: 36px;
	margin-top: -7px;
}
a.subtext {
	color: $green;
	display: block;
	font-family: arial;
	font-size: 12px;
	padding-left: 36px;
	margin-top: -7px;
	
	&:hover {
		color: $orange;
	}
	
	&:after {
		content: url('assets/styling/slug-green.png');
		padding-left: 1px;
		position: relative;
		top: 4px;
	}
}

body {
	background-color: $grey;
	background-image: url('assets/styling/bg-dark.jpg');
	background-position-x: center;
	background-repeat: no-repeat;
	background-attachment:fixed;
}

.content {
	width: 960px;
	margin: 0px auto;
}

ul#front_nav {
	list-style: none;
	padding: 0;
	margin-top: -45px;
	
	li {
		height: 600px;
		opacity: 0.3;
		@include nav_li;
		@include fade;
		
		&:hover {
			@include fade;
			opacity: 0.9;
		}
		
		&:first-child, &:last-child {
			border: solid 0 $orange;
			border-bottom-width: 5px;
		}
		
		&:nth-child(4), &:nth-child(2) {
			border: solid 0 $green;
			border-bottom-width: 5px;
		}
		
		&#blog {
			background-image: url('assets/images/front-blog.png');
		}
		&#art {
			background-image: url('assets/images/front-art.png');
		}
		&#center {
			background-image: url('assets/styling/insignia.png');
			background-position: bottom;
			opacity: 1;
		}
		&#code {
			background-image: url('assets/images/front-code.png');
		}
		&#about {
			background-image: url('assets/images/front-about.png');
		}
	}
}

nav {
	clear: both;
	ul {
		margin: 0 auto;
		padding: 0;
		position: relative;
		width: 960px;
		
		li {
			height: 80px;
			@include nav_li;
			background-color: rgba(255, 255, 255, 0.7);
			margin-top: 0;
			
			&:first-child, &:last-child {
				border: solid 0 $orange;
				border-bottom-width: 5px;
			}

			&:nth-child(4), &:nth-child(2) {
				border: solid 0 $green;
				border-bottom-width: 5px;
			}
			
			a.nav {
				padding-top: 10px;
			}
			
			&#center {
			  background-color: transparent;
			  border: none;
			  background: url(assets/styling/circle.png) -14px -100px;
			}
		}
	}
}

img.portrait {
	width: 300px;
	height: auto;
	float: left;
	margin: 5px;
}

.textblock {
	background-color: rgba(255, 255, 255, 0.3);
	border: solid 0 $orange;
	border-top-width: 3px;
	border-bottom-width: 3px;
	display: inline-table;
	margin: 5px;
	padding-bottom: 20px;
	
	&#about { width: 630px; }
	&#skills, &#admin {width: 98%; }
	&#itemdetails {width: 380px;}
	
	#editing {
	  img {
	    height: 300px;
      padding: 15px;
      padding-bottom: 5px;
	  }
	}
	
	p {
		padding-left: 36px;
		font-size: 16px;
		font-family: arial;
		letter-spacing: 1px;
		padding-right: 48px;
		
		&.tools {
		  font-style: italic;
      font-size: 14px;
		}
		
		a {
		  word-break: break-all;
		}
	}
	
	.vertical-or {
	  float: left;
	}
	
	form.admin {
	  padding: 10px;
	  
	  input[type="text"], textarea {
		  width: 80%;
		  letter-spacing: 1px;
      font-weight: lighter;
      margin: 3px;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 7px;
		}
		
		textarea {
		  height: 250px;
		}
		
		input[type="submit"]{
		  width: 155px;
      margin-right: -100px;
      background-color: $green;
      border-color: $green;
      letter-spacing: 0;
		}
	}
	
	.contact {
		width: 48%;
		float: left;
		text-align: center;
		padding-top: 15px;
		
		&#emailme {
		  padding-top: 87px;
		}
		
		a {
		  font-family: Georgia;
    	font-size: 24px;
    	font-weight: normal;
    	letter-spacing: 2px;
		  color: $green;
		}
		
		input, textarea {
		  width: 240px;
		  letter-spacing: 1px;
      font-weight: lighter;
      margin: 3px;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 7px;
		}
		
		textarea {
		  width: 243px;
      height: 8em;
		}
		
		input[type="submit"]{
		  width: 155px;
      margin-right: -100px;
      background-color: $green;
      border-color: $green;
      letter-spacing: 0;
		}
	}
}

ul.skills {
  list-style: none;
  display: table;
  
  li {
    float: left;
    width: 49px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    margin-left: 5px;
    overflow: hidden;
    
    &.skill-half {
      background:url(assets/styling/skill.png) -96px 0;
    }
    &.skill-threequarter {
      background:url(assets/styling/skill.png) -48px 0;
    }
    &.skill-full {
      background:url(assets/styling/skill.png) 0 0;
    }
    
    img {
      margin-top: 7px;
      overflow: hidden;
    }
  }
}

.item_images {
  float: left;
  width: 560px;
  
  img {
    max-width: 550px;
    height: auto;
    margin: 5px;
  }
}

ul.allitems {
  margin: 0;
  padding: 0;
  
  &#centeredlist {
    text-align: center;
    >li {width: 100%;}
  }
  
  li {
    float: left;
    width: 310px;
    margin: 5px;
    
    span.caption {
      position: relative;
      left: -20px;
      width: 300px;
      top: -40px;
      text-align: right;
      display: inline-block;
      
      a {
        color: $green;
        background-color: $half_white;
        padding: 7px;
        
      	&:hover {
      		color: $orange;
      	}

      	&:after {
      		content: url('assets/styling/slug-green.png');
      		padding-left: 1px;
      		position: relative;
      		top: 4px;
      	}
      }
    }
  }
}